<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FirstWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.webapp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntryServlet</display-name>
    <servlet-name>EntryServlet</servlet-name>
    <servlet-class>com.webapp.servlet.EntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntryServlet</servlet-name>
    <url-pattern>/entin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.webapp.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectName</display-name>
    <servlet-name>ProjectName</servlet-name>
    <servlet-class>com.webapp.servlet.ProjectName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectName</servlet-name>
    <url-pattern>/projname</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ProcessServlet</display-name>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>com.webapp.servlet.ProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/procsname</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>WorkRequestServlet</display-name>
    <servlet-name>WorkRequestServlet</servlet-name>
    <servlet-class>com.webapp.servlet.WorkRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkRequestServlet</servlet-name>
    <url-pattern>/wrkreq</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ActivityServlet</display-name>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>com.webapp.servlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/activity</url-pattern>
  </servlet-mapping>
  <!--  
  <servlet>
    <description></description>
    <display-name>WorkUnitServlet</display-name>
    <servlet-name>WorkUnitServlet</servlet-name>
    <servlet-class>com.webapp.servlet.WorkUnitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkUnitServlet</servlet-name>
    <url-pattern>/wrkunit</url-pattern>
  </servlet-mapping> -->
</web-app>